<%- include('partials/header') %>
</head>
<div class="jumbotron">
    <h1 class="display-4">Error!</h1>
    <p class="lead"><%=error%></p>
    <hr class="my-4">
    <!-- <p><%=error%></p> -->
    <p class="lead">
      <a class="btn btn-outline-dark btn-lg" href="javascript:history.back()" role="button">Go Back</a>
    </p>
</div>
<%- include('partials/footer') %>